* {
    padding: 0;
    margin: 0;
}


body {
    font-family: lato, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

#topo {
    background-color: rgba(228, 216, 228, 0.5);
    color: #fff;
    overflow: hidden;
    text-align: center;
}



/* logotipo*/
.logo {
    width: 100%;
    position: relative;
    margin-top: -20px;
}

.logo img {
    width: 250px;
}

.icon_container {
    display: flex;
    background-color: rgba(228, 216, 228);
    color: #868686;
}

.icon {
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
    ;
}


/* menu à esquerda 
.menu{
	width: 40%;
	float: left;
	/* overflow: hidden; 
	box-sizing: border-box;
	min-height: 150px;
}*/
.menu li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    padding: 15px 10px;
    border: solid 1px transparent;
}

.menu li a {
    color: #868686;
    text-decoration: none;
    padding: 15px 15px 1px 15px;
    font-family: 'lato', 'sans-serif';
}

.menu li a:hover {
    color: #b68bb6;

}
}

.menu li:hover {
    border: solid 1px #b68bb6;
}

.nav {
    overflow: hidden;
    margin-top: 75px;
}

.nav-container {
    display: flex;
    justify-content: center;
}

/* banner */
#banner {
    background: url(../../imagens/attractive-african-woman-having-massage-relaxing-in-spa-salon-closed-eyes.jpg) no-repeat center center;
    background-size: cover;
    color: rgba(185, 156, 185);
    text-align: center;
    padding: 100px 0;
    line-height: 250px;
}

/* DESTAQUES */
.container {
    width: 90%;
    margin: 0 auto;
}

.destaques {
    overflow: auto;
}

.destaque {
    width: 33%;
    float: left;
    margin-top: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 250px;
}

.destaque .imagem {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.destaque .imagem img {
    width: 100%;
    max-width: 250px;
}

.destaque h3 {
    text-align: center;
    color: #000;
}

.destaque p {
    text-align: justify;
}


/* rodapé */
#rodape {
    text-align: center;
    background-color: rgba(185, 156, 185, 0.7);
    padding: 10px 0;
    overflow: visible;
    margin-top: 10px;
    font-size: 12px;
}


/* Dropdown Button */

.dropdown {
    background-color: rgba(228, 216, 228, 0.5);
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #868686;
    text-decoration: none;
    font-family: 'lato', 'sans-serif';
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    line-height: 20px;
    padding-bottom: 10px;
    z-index: 1;
}

.dropdown-content a:hover {
    color: #b68bb6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Tratamentos */

.container_tratamentos {
    background-color: rgba(185, 156, 185, 0.1);
    width: 90%;
    height: 350px;
    margin: 10px 5% 15px 5%;
    border-radius: 20px;
}

.subtitle_tratamentos {
    margin: 50px 0 50px 0;
    color: rgba(102, 36, 131);
    text-align: center;
    font-family: lato light;
    -ms-transform: scaleY(2);
    /* IE 9 */
    -webkit-transform: scaleY(2);
    /* Safari */
    transform: scaleY(2);
    letter-spacing: 3px
}

.tratamentos_content {
    display: flex;
}

.img_tratamentos {
    margin: 35px 35px 35px 35px;

}

.description {
    text-align: justify;
    color: rgba(102, 36, 131);
    margin: 35px 10px 35px 10px;
}

.description p {
    margin-top: 10px;
    margin-right: 35px;
}


/*VIP SECTION*/

.vip_description {
    padding-left: 5%;
}

.order_list {
    margin-top: 10px;
    padding-left: 5%;
    line-height: 25px;
}

/* BIO */

.header_bio_content {
    display: flex;
    justify-content: space-around;
    margin: 0 3% 0 3%;
}

.destaque_bio_head {
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
}

.destaque_bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(102, 36, 131, 0.5);
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
}


.biografia {
    display: flex;
    justify-content: center;
    margin: 40px 5% 40px 5%;
    text-align: justify;
    color: rgba(102, 36, 131);
}

.biografia img {
    width: 20%;
    border-radius: 5%;
}

.biografia h2 {
    margin: 100px 0 0 20px;
}

.biografia p {
    margin: 10px 0 10px 20px;
}

.img_icon {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;

}

/*AGENDA*/

.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.description_form{
    text-align: justify;
    color: rgba(102, 36, 131);
    margin: 5px 10px 5px 10px;
    width: 60%;
}

.form_fields {
    line-height: 25px;
    margin: 15px 2% 15px 2%;
}

.form_fields_input {
    line-height: 25px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

select {
    font: inherit;
    height: 25px;
}

.btn_submit {
    background-color: rgba(102, 36, 131);
    font-size: 20px;
    color: #b68bb6;
    border-style: none;
    border-radius: 5px;
    height: 50px;
    width: 97%;
    margin: 15px 2% 15px 2%;
}

.btn_submit:hover {
    background-color: #b68bb6;
    color: rgba(102, 36, 131)
}