* {
padding: 0;
margin: 0;
}


body{font-family: arial, sans-serif; margin: 0; }
a{text-decoration: none;}

#topo{
	background-color: rgba(228,216,228);
	color: #fff;
	overflow: hidden;
	text-align: center;
}



/* logotipo*/
.logo{
	width: 100%;
    position: relative;
    margin-top: -20px;
}

.logo img{
	width: 250px;
}

.icon_container {
    display:flex;
    background-color: rgba(228,216,228);
    color: #868686;
}

.icon {
    position: relative;
    margin-top: 15px;
    margin-left: 5px;;
}


/* menu à esquerda 
.menu{
	width: 40%;
	float: left;
	/* overflow: hidden; 
	box-sizing: border-box;
	min-height: 150px;
}*/
.menu li{
	list-style: none;
	display: inline-block;
	font-size: 14px;
	padding: 15px 10px;
	border: solid 1px transparent;
}
.menu li a{
	color: #868686;
	text-decoration: none;
	padding: 15px 15px 1px 15px;
    font-family: 'lato','sans-serif';
}
.menu li a:hover{
	color: #b68bb6;
    
}
}
.menu li:hover{
	border: solid 1px #b68bb6;
}

.nav{
    overflow: hidden;
    margin-top: 75px;
}
.nav-container {
    display:flex;
    justify-content: center;
}

/* banner */
#banner{
	background: url(../../imagens/attractive-african-woman-having-massage-relaxing-in-spa-salon-closed-eyes.jpg) no-repeat center center;
	background-size: cover;
	color: rgba(185, 156, 185);
	text-align: center;
	padding: 100px 0;
    line-height: 250px;
}

/* destaques */
.container{
	width: 90%;
	margin: 0 auto;
}
.destaques{
	overflow: auto;
}
.destaque{
	width: 33%;
	float: left;
	margin-top: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	min-height: 250px;
}
.destaque .imagem{
	width: 100%;
	max-height: 250px;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
.destaque .imagem img{
	width: 100%;
	max-width: 250px;
}
.destaque h3{
	text-align: center;
	color: #000;
}
.destaque p{
	text-align: justify;
}


/* rodapé */
#rodape{
	text-align: center;
	background-color: #b68bb6;
	padding: 10px 0;
	overflow: visible;
    margin-top: 10px;
    font-size: 12px;
}


/* Dropdown Button */


.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  background-color: rgba(228,216,228);
  color: #868686;
  text-decoration: none;
  font-family: 'lato','sans-serif';
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(228,216,228);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  line-height: 20px;
  padding-bottom: 10px;
}

.dropdown-content a:hover {
  color: #b68bb6;
}

.dropdown:hover .dropdown-content {
  display: block;
}